<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <a href="/"><img src="/static/logo.png" alt=""></a>
        <form method="get" action="/wiki/articles/search/">
            <input name="q" type="text">
            <button>Search</button>
        </form>
    </nav>
    {% block content %}{% endblock content %}
</body>
</html>