{% extends "base.html" %}

{% block title %} {{ article.title }} {% endblock title %}

{% block content %}    
    <h1 class="title"> {{article.title}} </h1>
    <hr>
    <div class="actions-article">
        <a href="/wiki/{{article.slug}}" class="active">Article</a>
        <div>
            <a href="/wiki/{{article.slug}}/edit" class="inactive">Edit</a>
            <a href="/wiki/{{article.slug}}/version" class="inactive">View versions</a>
        </div>
    </div>
    <br>
<div class="markdownx-preview">
    {{ content }}
</div>

{% endblock content %}