<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awkpedia</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <main>
        <img src="/static/logo.png" alt="">
        <p>The awk encyclopedia where anyone can edit and create articles. Here is the github repository.</p>
        <form method="get" action="/wiki/articles/search/">
            <input name="q" type="text">
            <button>Search</button>
        </form>
    </main>
</body>
</html>